[data-theme="true"] {
  --main: #fafafa;
  --accent: #7986cb;
  --text: #3c3837;
}
[data-theme="false"] {
  --main: #424242;
  --accent: #212121;
  --text: #76ff03;
}

.App {
  color: var(--text);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: var(--main);
  .card {
    background-color: var(--accent);
    font-size: 1.2rem;
    font-weight: 500;
    .card-title {
      font-weight: 600;
    }
    .card-image {
      img {
        border-radius: 20px;
      }
    }
  }
  .filters {
    color: #212121;
    .select:focus {
      border-color: var(--accent);
    }
  }
  .loading {
    margin-top: 70%;
  }
  .authorization {
    button {
      background-color: var(--accent);
      color: var(--text);
    }
  }
  .navbar {
    .nav-wrapper {
      background-color: var(--main);
      color: var(--text);
      .signed-in-buttons {
        background-color: var(--main);
        color: var(--text);
        button {
          background-color: var(--accent);
          color: var(--text);
        }
      }
      .nav-buttons {
        li {
          background-color: var(--main);
          color: var(--text);
          a {
            color: var(--text);
          }
        }
      }
    }
    .my-logo {
      color: var(--text);
    }
  }
  .history {
    .collection {
      overflow: scroll;
      max-height: 800px;
      .collection-item {
        background-color: var(--accent);
        color: var(--text);
      }
      .collection-item:hover {
        background-color: var(--main);
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .card-details {
    button {
      background-color: var(--text);
      color: var(--accent);
    }
  }
  .input-field {
    color: #dbdbdb;
    background-color: var(--accent);
    button {
      background-color: var(--text);
      color: var(--accent);
    }
  }
  .pag-row {
    margin-bottom: 0px;
    .pagination {
      padding-bottom: 0px;
    }
    li {
      background-color: var(--text);
      a {
        color: var(--main);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
      }
    }
  }
  .card-summary {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: var(--text);
    span {
      font-weight: 600;
      margin-top: 15px;
      color: var(--text);
    }
    img {
      border-radius: 15px;
    }
    .card-footer {
      position: absolute;
      bottom: 70px;
    }
  }
}
